@import url(http://fonts.googleapis.com/css?family=Droid+Sans:400,700);

body {
	background: url(/cream_dust/cream_dust.png) repeat 0 0;
	color: rgb(14, 32, 59);
	font-family: 'Droid Sans', sans-serif;
}

button, input, select, textarea {
	font-family: 'Droid Sans', sans-serif;
}

.main {
	padding-top: 2em;
}

div.para {
	display: inline;
}

.card, .searchcard {
	background: white;
	/*max-width: 25em;*/
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: .2em 1em;
	margin: 1px;
}

.searchcard:hover {
	cursor: move;
}

.trash {
	display: inline-block;
}
.dropzone {
	opacity: .3;
	border-radius: 5px;
	padding: 5px;
	box-shadow:         inset 0 0 0px #000;	
}

.dropzone.ready {
   opacity: .5;
   box-shadow:         inset 0 0 4px #aaa;	
}

.dropzone.activated {
   opacity: 1;
   box-shadow:         inset 0 0 4px #aaa;	
}

.searchresults {
}

.searchcard {
	margin-bottom: 1em;
}

.searchcard > h3 {
	font-size: medium;
	line-height: 1.1em;
}

.searchcard p {
	color: red;
}

.paragraph-placeholder {
	min-height: 1.2em; 
	line-height: 1.2em;
	min-width: 10em;
	background-color: #fff8b2;	
	border: 1px dotted grey;
	display: block;
}
.draggable .drag-handle {
	cursor: move; 
}

.clear {
	clear: both;
}

.buttonbar {
	padding-top: 2em;
	display: block;
	clear: both;
}
.new-para, .new-page, .new-link, .new-others {
	vertical-align: baseline;
}

span.pagetitle:hover {
	background-color: #fff8b2;
}
.navbar-fixed-top, .navbar-fixed-bottom {
	position: static;
}
.right {
	float: right;
	margin-right: 1em;
}

#sortable { list-style-type: none; margin: 0; padding: 0; }

/*#sortable div { margin: 0 3px 3px 3px; padding: 0.4em; padding-left: 1.5em; }*/
.drag-handle { 
	position: absolute; 
	margin-right: 1.3em; 
	min-width: 1.3em; 
	width: 1.3em;
	float: left;
	/*clear:;*/
}

.right {
	float: right;
}

h3.page-name {
	margin-left: 20px;
}

textarea.editable {
	width: 22em;
	height: 10em;
}

.para {
	float: left;
	margin-left: 20px;
	/*text-indent: -1.5em;*/
}
.drag-handle, .done-handle {
	vertical-align: top;
	opacity: .1;
}

.drag-handle:hover {
	opacity: 1;
	cursor: move;
}

.done-handle:hover {
	opacity: 1;
	cursor: pointer;
}
.edit-handle {
	padding-left: .2em;
	width: 12px;
	opacity: .1;
	float: right;
}

.sidebar-cluster {
	transition: height 0.5s;
	-moz-transition: height 0.5s;
}
.starred, .unstarred {
	cursor: pointer;
}

.unstarred {
	opacity: .2;
}
.unstarred:hover {
	opacity: 1;
	color: red;
}

.starred {
	color: red;
	opacity: .6;
}

.starred:hover {
	opacity: 1;
}

.edit-handle:hover {
	opacity: 1;
	cursor: pointer;
}

span.ipsum p {
	display: inline;
}

.new-para {
	margin-bottom: 2em;
}

.favorite {
	font-size: 140px;
	vertical-align: baseline;
}